<header *ngIf="isUserLoggedIn">
  <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Assignment Manager</a>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row ml-5" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/assignments']">Assignments</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/projects']">Projects</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <span>Logged in as: {{ userName }}&nbsp;&nbsp;<a href="#" (click)="logUserOut()">
            <fa-icon [icon]="logOutIcon"></fa-icon>
          </a></span>
      </div>
    </div>
  </nav>
</header>